@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    :root {
        --font: 'Inter', sans-serif;
    }
    body {
        @apply bg-bgMain;
        font-family: var(--font);
    }
    input {
        font-family: var(--font)
    }
    .product-detail {
        @apply text-lg basis-7 grow px-1 py-0.5;
        color: hsl(0, 0%, 63%);
    }
    .card {
        @apply bg-[#0a0a0a] text-accent rounded-xl border border-[rgba(255,255,255,0.2)];
    }
}
